<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bill.icewidgets">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_freezer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ActivityIceGroup"
            android:theme="@style/Theme.Dialog.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".components.IceWidgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ice_widgets_info" />
        </receiver>

        <activity android:name=".ui.ActivityAppSelector" android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <service
            android:name=".components.service.FreezeService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" />

    </application>

</manifest>